@model ToDo.Models.ToDoView

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table class="table">
    @foreach (var item in Model.list)
    {
        <tr>
            @{ if (item.Done == 0)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                }
                else
                {
                    <td style="color: red;">
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                }
            }
            <td>
                @{ if (item.Done == 1)
                    {
                        <p style="user-select:none">✓</p>
                    }
                    else
                    {<p style="user-select:none" onclick="finish(@item.Id)">X</p>}
                }
            </td>
            <td>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group" style="display: none">
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field must be a number." data-val-required="The field is required." id="toDel" name="toDel" type="number" value="1">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field Id must be a number." data-val-required="The id field is required." id="Id" name="Id" type="number" value="@item.Id">
                                @Html.ValidationMessageFor(model => model.toDel, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Delete" class="btn delBtn btn-default" />
                            </div>
                        </div>
                    </div>
                }
                </td>
        </tr>
    }
</table>

<script>
    /*function finish(a) {
        $.get("Home/Index?id=" + a)
        window.location.reload();
    }*/
</script>
<style>
    .delBtn {
        background-color: transparent;
        border-color: transparent;
        font-family: sans-serif;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}